body {
	margin: 0;
}

main {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

main h1 {
	font-size: 3rem;
	margin-top: .5em;
}

main > p {
	font-size: 2rem;
	border: 1px solid black;
	padding: .5em;
	width: 100%;
	height: 50vh;
	overflow: scroll;
	overflow-x: hidden;
	line-height: 1.3em;
}

form {
	gap: 10px;
	display: flex;
	position: absolute;
	top: 5rem;
	right: 100vw;
	height: 90vh;
	width: 100%;

	overflow-x: hidden;
}

section {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: .5em;
	height: fit-content;
	display: flex;
	visibility: hidden;
	width: 80vw;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	/* margin-top: 5.5%; */
}

@keyframes slideFormPage {
	0% {
		transform: translateX(200px);
	}

	100% {
		margin: 6% 10%;
		right: 0vw;
	}
}

#formPageOne label,
#formPageTwo label {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 100%;
	margin-left: 15px;
	margin-top: 5px;
}

input {
	margin: 7px auto;
}

input[name="name"] {
	width: 35%;
	margin: .5rem;
}

input[name="productType"] {
	width: 70%;
}

select {
	width: 70%;
}

h2 {
	width: 100%;
}
.priceContainer {
	position: relative;
	display: flex;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 50%;
	margin-left: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type=radio] {
	margin: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

span {
	position: absolute;
	top: 0;
	left: -20px;
	height: 15px;
	width: 15px;
	margin: 2px;
	background-color: #eee;
	border-radius: 50%;
}

.priceContainer:hover input ~ span {
	background-color: rgb(153, 152, 152);
}

.priceContainer input:checked ~ span {
	background-color: lightgreen;
}

.buttonContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	margin: .5rem;
	margin-top: 1.5rem;
}

.fa-hammer {
	font-size: 2.5rem;
	position: absolute;
	top: -8%;
	left: 17%;
	animation-duration: .4s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}

@keyframes hammerDown {
	100% {
		transform: translateX(12px) translateY(5px) rotate(40deg);
	}
}

@keyframes hammerUp {
	100% {
		transform: translateX(-0) translateY(0) rotate(0deg);
	}
}

#startButton,
.nextButton,
#submitButton {
	width: 55%;
	padding: .3em;
}

#progressContainer {
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 10;
	margin-top: 1rem;
	margin-bottom: 0;
}

.progressBox {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	font-size: 2.5rem;
	padding: .5rem;
	border: 1px solid black;
}

.confirmationMessage {
	text-align: center;
	font-weight: 600;
}

#orderReview {
	border: 1px solid black;
	width: 80vw;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: #eee;
}

#orderReview ul {
	list-style-type: none;
	margin: 0;
	padding: .5rem;
}

/* START OF MEDIA QUERIES-------------------------------------------------- */

@media only screen and (min-width: 360px) {
	section {
		margin-top: 8%;
	}

	button {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 375px) {
	.fa-hammer {
		top: -5%;
	}
}

@media only screen and (min-width: 411px) {
	.fa-hammer {
		font-size: 3rem;
		top: -8%;
	}
	input,
	select {
		padding: .4rem;
	}
}

@media only screen and (min-width: 500px) {
	input[name="email"],
	input[name="location"] {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 80%;
	}

	main > p {
		padding: .8em;
	}

	button {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1000px) {
	.fa-hammer {
		top: 10%;
	}

	input,
	select {
		padding: 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 75%;
	}

	main {
		padding: 0 25em;
	}

	main > p {
		border: none;
		height: fit-content;
		overflow: hidden;
		padding-top: 0;
		line-height: 1.3em;
	}

	section {
		margin-top: 2%;
		padding: 3rem;
	}

	.buttonContainer {
		margin-top: 4rem;
	}

	.fa-hammer {
		font-size: 3.5rem;
		top: -25%;
		left: 19%;
	}

	#messageBox {
		width: 80rem;
		font-size: 1.5rem;
	}

	@keyframes slideFormPage {
		0% {
			transform: translateX(200px);
		}

		100% {
			/* margin: 5.5% 10%; */
			margin: 2% 10%;
			right: 0vw;
		}
	}
}
