body {
	margin: 0;
	/* position: relative; */
}

main {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	/* position: relative; */
}

h1 {
	text-align: center;
}

main h1 {
	font-size: 3rem;
	margin-top: .5em;
}

main > p {
	font-size: 2.3rem;
	border: 1px solid black;
	padding: .5em;
	width: 100%;
	height: 50vh;
	/* max-height: 500px; */
	overflow: scroll;
	line-height: 1.3em;
	/* play around with this for responsivity */
	/* height: 25%;
	overflow: scroll; */
}

form {
	/* margin: 1rem; */
	gap: 10px;
	display: flex;
	position: absolute;
	top: 5rem;
	right: 100vw;
	height: 90vh;
	width: 100%;

	overflow-x: hidden;
}

section {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	height: fit-content;
	display: flex;
	visibility: hidden;
	width: 80vw;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	margin-top: 5.5%;
}

@keyframes slideFormPage {
	100% {
		transform: translateX(-7.7rem);
	}
}

#formPageOne label,
#formPageTwo label {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 100%;
	margin-left: 15px;
	margin-top: 5px;
}

input {
	margin: 7px auto;
}

input[name="name"] {
	width: 35%;
	margin: .5rem;
}

select {
	width: 70%;
}

h2 {
	width: 100%;
}
.priceContainer {
	position: relative;
	display: flex;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 50%;
	margin-left: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type=radio] {
	margin: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

span {
	position: absolute;
	top: 0;
	left: -20px;
	height: 15px;
	width: 15px;
	margin: 2px;
	background-color: #eee;
	border-radius: 50%;
}

.priceContainer:hover input ~ span {
	background-color: rgb(153, 152, 152);
}

.priceContainer input:checked ~ span {
	background-color: lightgreen;
}

.buttonContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	margin: .5rem;
}

.fa-hammer {
	font-size: 2.5rem;
	position: absolute;
	top: -10px;
	/* left: 4rem; */
	left: 17%;
	animation-duration: .4s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}

@keyframes hammerDown {
	100% {
		transform: translateX(12px) translateY(10px) rotate(30deg);
	}
}

@keyframes hammerUp {
	100% {
		transform: translateX(-0) translateY(0) rotate(0deg);
	}
}

#startButton,
.nextButton,
#submitButton {
	width: 55%;
	height: 5.5vh;
}

#progressContainer {
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 1rem;
}

.progressBox {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	font-size: 2.5rem;
	padding: .5rem;
	border: 1px solid black;
}

.confirmationMessage {
	text-align: center;
	font-weight: 600;
}

#orderReview {
	border: 1px solid black;
	width: 80vw;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: #eee;
}

#orderReview ul {
	list-style-type: none;
	margin: 0;
	padding: .5rem;
}

@media only screen and (min-width: 320px) {
	.fa-hammer {
		left: 18%;
	}

	@keyframes slideFormPage {
		100% {
			transform: translateX(-8.2rem);
		}
	}
}

@media only screen and (min-width: 360px) {
	@keyframes slideFormPage {
		100% {
			transform: translateX(-8.6rem);
		}
	}

	section {
		margin-top: 8%;
	}
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 80%;
	}

	main > p {
		padding: .8em;
		overflow-x: hidden;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 80%;
	}

	main {
		padding: 0 5em;
	}

	main > p {
		border: none;
		height: fit-content;
		overflow: hidden;
		padding-top: 0;
	}
}

/* @media only screen and (min-width: 576px) {
	main > p {
		font-size: 1.8rem;
	}
	@keyframes slideFormPage {
		100% {
			transform: translateX(-9.5rem);
		}
	}

	input[type=email],
	input[name=location],
	input[name=productType] {
		width: 50%;
	}

	select {
		margin: .5rem;
	}

	#messageBox {
		width: 40rem;
	}

	button {
		height: 6vh;
	}
} */
